{% extends "Testpages/base.html" %}
{% load static %}

{% block extra_head_content  %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'PasswordGen/styles.css' %}">
{% endblock %}


{% block content %}
<h1 align="center"> Random Password Generator </h1>

<div class= "container">
	
	<div class="row">
		
		<div class="col-lg-8 col-sm-12 mx-auto">
			
			<div class="content">
				<br />
				<!-- Button to call the generate password function -->
				<input type="text" id="display">
				<br />
				<input type="range" min="8" max="50" name="slider" id="slider">
				<br />
				<!-- Button to call the generate password function -->
				<button onclick="generate()"> Generate</button>
				<!-- Button to call the copy password to Clipboard function -->
				<button onclick="copyPassword()"> Copy to Clipboard</button>
				<div id="length"></div>
			</div>
			<!-- Div that shows the previous generated passwords -->
			<div class="previous_passwords">
				<b>Previously Generated Passwords </b>
				<br />
			<div id="lastNums"></div>
			</div>

		</div>

	</div>

</div>


<script src="/static/PasswordGen/script.js"></script>
{% endblock content %}